@model Person

<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Adress</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Surname</td>
        <td>@Model.Age</td>
        <td>@Model.Address</td>
    </tr>
</table>